@* @model IEnumerable<PieShop.Models.Pie> *@
@model PiesListViewModel


<h1>@Model.CurrentCategory</h1>
@foreach (var pie in Model.Pies)
{
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@pie.ImageThumbnailUrl"/>
        <div class="caption">

            <h3 class="pull-right">@pie.Price.ToString("c")</h3>
            <h3>@pie.Name</h3>
            <p>@pie.ShortDescription</p>
        </div>
    </div>
</div>
    }


    @*
        Yukarıdaki model isimlerini kısaltmak için _ViewImport razor page'i oluşturduk.
        _ViewStart _Layout'u çağırır.
        _Layout genel template.
    *@
